'.source.hps':
  'editor':
    'commentStart': '// '
    'foldEndPattern': '^\\s*(\\}|// \\}\\}\\}$)'
    'increaseIndentPattern': '^.*\\{(\\}|[^}"\']*)$'
    'decreaseIndentPattern': '^(.*\\*/)?\\s*\\}'
